<div class="flex flex-column justify-between">
    <main class="pa4 black-80 spacer">
      <form
        class="measure center mt4 pt4"
        [formGroup]="editSpaceForm"
        (ngSubmit)="onSubmit()"
      >
        <fieldset id="sign_up" class="ba b--transparent black ph0 mh0">
          <legend class="f4 fw6 ph0 mh0">Edit Space</legend>
          <!-- <div class=" cf">
                    <div class="fl w-100 w-50-m w-50-l pa1">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" matInput placeholder="John" />
                            <mat-error *ngIf="f.firstName.hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="fl w-100 w-50-m w-50-l pa1">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" matInput placeholder="Doe" />
                            <mat-error *ngIf="f.lastName.hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div> -->
          <div class="mt2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Code</mat-label>
              <input formControlName="code" matInput placeholder="John Doe" />
              <mat-error *ngIf="f.code.hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="mt2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total capacity</mat-label>
              <input formControlName="totalCapacity" matInput placeholder="Brooklyn" />
              <mat-error *ngIf="f.totalCapacity.hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="mt2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Occupied capacity</mat-label>
              <input formControlName="occupiedCapacity" matInput placeholder="Brooklyn" />
              <mat-error *ngIf="f.occupiedCapacity.hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </div>
          
  
         
        </fieldset>
        <div class="mv2">
          <button class="w-100" mat-stroked-button color="primary">Edit</button>
        </div>
        <!-- <div class="mt3 lh-copy cf">
          <div class="fl w-50 tc">
            <button routerLink="/login" mat-button color="secondary">
              Login
            </button>
          </div>
          <div class="fl w-50 tc">
            <button routerLink="/forgot-password" mat-button color="secondary">
              Forgot Password?
            </button>
          </div>
        </div> -->
      </form>
    </main>
  
    <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
      <small class="f6 db tc"
        >© 2021 <b class="ttu">MechPark</b> All Rights Reserved</small
      >
      <div class="tc">
        <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim"
          >Language</a
        >
        <a href="/terms/" title="Terms" class="f6 dib ph2 link mid-gray dim"
          >Terms of Use</a
        >
        <a href="/privacy/" title="Privacy" class="f6 dib ph2 link mid-gray dim"
          >Privacy</a
        >
      </div>
    </footer>
  </div>
  