<div class="pa4">
    <div class="overflow-auto">
      <button routerLink="create-space/" mat-icon-button aria-label="Add Space">
        <mat-icon>add</mat-icon>
      </button>
      <mat-form-field class="w-100">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input/>
      </mat-form-field>
  
      <table
        matSort
        mat-table
        [dataSource]="spaceSource"
        multiTemplateDataRows
        class="w-100 overflow-hidden pointer"
      >
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let space">{{ space.code }}</td>
        </ng-container>
  
        <ng-container matColumnDef="totalCapacity">
          <th mat-header-cell *matHeaderCellDef>Total Space</th>
          <td mat-cell *matCellDef="let space">{{ space.totalCapacity }}</td>
        </ng-container>
  
        <ng-container matColumnDef="occupiedCapacity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Occupied capacity</th>
          <td mat-cell *matCellDef="let space">{{ space.occupiedCapacity }}</td>
        </ng-container>
  
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let user">
            <button
              routerLink="create-space/"
              mat-icon-button
              aria-label="Add Space"
            >
              <mat-icon>add</mat-icon>
            </button>
            <button
              routerLink="edit-space/"
              mat-icon-button
              aria-label="Edit space"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="delete(1)"  mat-icon-button aria-label="Delete space">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!---ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let space"
            [attr.colspan]="userColumnsToDisplay.length"
          >
            <div
              class="table-element-detail"
              [@detailExpand]="user == expandedElement ? 'expanded' : 'collapsed'"
            >
              <div class="lh-copy pv1 db">
                <span class="dark-grey">Address:</span> {{ user.address }}
              </div>
              <div class="lh-copy pv1 db">City: {{ user.city }}</div>
              <div class="lh-copy pv1 db">State: {{ user.state }}</div>
            </div>
          </td>

          [class.table-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element"
        </ng-container>-->
  
        <tr mat-header-row *matHeaderRowDef="spaceColumnsToDisplay"></tr>
        <tr
          class="pointer"
          mat-row
          *matRowDef="let element; columns: spaceColumnsToDisplay"
          class="table-element-row"
          
        ></tr>
       
       <!--- <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="table-detail-row pointer"
        ></tr>--->
      </table>
  
      <!-- <table class="f6 w-100 mw8 center" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Name</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Email</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">City</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">State</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Phone</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Created</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Actions</th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          <tr *ngFor="let user of users">
            <td class="pv3 pr3 bb b--black-20">{{user.name}}</td>
            <td class="pv3 pr3 bb b--black-20">{{user.email}}</td>
            <td class="pv3 pr3 bb b--black-20">{{user.city}}</td>
            <td class="pv3 pr3 bb b--black-20">{{user.state}}</td>
            <td class="pv3 pr3 bb b--black-20">{{user.phone}}</td>
            <td class="pv3 pr3 bb b--black-20">{{user.created | date: 'dd/MM/YY  hh:mm a'}}</td>
            <td class="pv3 pr3 bb b--black-20">
              <button routerLink="create-user/" mat-icon-button aria-label="Add User">
                <mat-icon>add</mat-icon>
              </button>
              <button routerLink="edit-user/{{user.id}}" mat-icon-button aria-label="Edit User">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button aria-label="Delete User">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
  