<main class="pa4 black-80 spacer">
  <form
    class="measure center mt4 pt4"
    [formGroup]="createUserForm"
    (ngSubmit)="onSubmit()"
  >
    <fieldset class="ba b--transparent black ph0 mh0">
      <legend class="f4 fw4 ph0 mh0">Create User</legend>
      <!-- <div class=" cf">
              <div class="fl w-100 w-50-m w-50-l pa1">
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input formControlName="firstName" matInput placeholder="John" />
                      <mat-error *ngIf="f.firstName.hasError('required')">
                          Required
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="fl w-100 w-50-m w-50-l pa1">
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input formControlName="lastName" matInput placeholder="Doe" />
                      <mat-error *ngIf="f.lastName.hasError('required')">
                          Required
                      </mat-error>
                  </mat-form-field>
              </div>
          </div> -->
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="John Doe" />
          <mat-error *ngIf="f.name.hasError('required')"> Required </mat-error>
        </mat-form-field>
      </div>
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            type="email"
            placeholder="john.doe@email.com"
          />
          <mat-error *ngIf="f.email.hasError('required')"> Required </mat-error>
          <mat-error *ngIf="f.email.hasError('email')">
            Invalid Email
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Address</mat-label>
          <textarea
            formControlName="address"
            matInput
            placeholder="25, Jordan Street"
          ></textarea>
          <mat-error *ngIf="f.address.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>City</mat-label>
          <input formControlName="city" matInput placeholder="John Doe" />
          <mat-error *ngIf="f.city.hasError('required')"> Required </mat-error>
        </mat-form-field>
      </div>
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>State</mat-label>
          <input formControlName="state" matInput placeholder="Gujarat" [matAutocomplete]="auto"/>
          <mat-error *ngIf="f.state.hasError('required')"> Required </mat-error>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredStateOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Phone</mat-label>
          <input
            formControlName="phone"
            type="tel"
            matInput
            placeholder="98765 43210"
          />
          <mat-error *ngIf="f.phone.hasError('required')"> Required </mat-error>
          <mat-error
            *ngIf="
              f.phone.hasError('minlength') ||
              f.phone.hasError('maxlength') ||
              f.phone.hasError('pattern')
            "
          >
            Invalid Phone Number
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="f.role.hasError('required')"> Required </mat-error>
        </mat-form-field>
      </div>
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Strong Password"
          />
          <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
          <mat-error *ngIf="f.password.hasError('required')">
            Required
          </mat-error>
          <mat-error *ngIf="f.password.hasError('minlength')">
            Password must be atleast 6 Characters
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            formControlName="confirmPassword"
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="your password"
          />
          <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
          <mat-error *ngIf="f.confirmPassword.hasError('required')">
            Required
          </mat-error>
          <mat-error *ngIf="f.confirmPassword.hasError('mustMatch')">
            Must match Password
          </mat-error>
        </mat-form-field>
      </div>
    </fieldset>
    <div class="mv2">
      <button class="w-100" mat-stroked-button color="primary">Create</button>
    </div>
    <div class="mt3 lh-copy cf">
      <div class="fl w-50 tc">
        <button routerLink="/login" mat-button color="secondary">Login</button>
      </div>
      <div class="fl w-50 tc">
        <button routerLink="/forgot-password" mat-button color="secondary">
          Forgot Password?
        </button>
      </div>
    </div>
  </form>
</main>

<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc"
    >© 2021 <b class="ttu">MechPark</b> All Rights Reserved</small
  >
  <div class="tc">
    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim"
      >Language</a
    >
    <a href="/terms/" title="Terms" class="f6 dib ph2 link mid-gray dim"
      >Terms of Use</a
    >
    <a href="/privacy/" title="Privacy" class="f6 dib ph2 link mid-gray dim"
      >Privacy</a
    >
  </div>
</footer>
