<nav class="db dt-l w-100 mw8 center border-box pa3">
  <mat-tab-group animationDuration="0ms" dynamicHeight>
    <mat-tab label="Users" class="h-100"> <app-users></app-users> </mat-tab>
    <mat-tab label="Garages" class="h-100"> <app-garages></app-garages> </mat-tab>
    <mat-tab label="Spaces" class="h-100"> <app-spaces></app-spaces> </mat-tab>
    <mat-tab label="Parkings" class="h-100"> <app-parkings></app-parkings> </mat-tab>
    <mat-tab label="Parking Histories" class="h-100"> <app-parking-histories></app-parking-histories> </mat-tab>
  </mat-tab-group>
</nav>

<router-outlet></router-outlet>