<div class="flex flex-column justify-between">
    <header class="bg-black inter">
        <nav class="db dt-l w-100 mw8 center border-box pa3">
            <a routerLink="/" class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" title="Home">
                <svg width="27" height="25" viewBox="0 0 27 25" outline="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 13L10.0355 16.4645C6.88571 19.6143 1.5 17.3835 1.5 12.9289V6C1.5 3.23858 3.73858 1 6.5 1H8.5C11.2614 1 13.5 3.23858 13.5 6V25M13.5 13L17.0147 9.48529C20.146 6.35401 25.5 8.5717 25.5 13V13C25.5 17.4283 20.146 19.646 17.0147 16.5147L13.5 13Z" stroke="white" stroke-width="2" />
                </svg>
            </a>
            <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
                <a mat-stroked-button color="accent" routerLink="/register">Register</a>
                <a mat-stroked-button color="accent" routerLink="/login">Login</a>
            </div>
        </nav>
    </header>


    <main class="pa4 black-80 spacer">
        <form class="measure center mt4 pt4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <fieldset id="sign_up" class="ba b--transparent black ph0 mh0">
                <legend class="f4 fw6 ph0 mh0">Sign Up</legend>
                <!-- <div class=" cf">
                    <div class="fl w-100 w-50-m w-50-l pa1">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" matInput placeholder="John" />
                            <mat-error *ngIf="f.firstName.hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="fl w-100 w-50-m w-50-l pa1">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" matInput placeholder="Doe" />
                            <mat-error *ngIf="f.lastName.hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div> -->
                <div class="mt2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input formControlName="Name" matInput placeholder="John Doe" />
                        <mat-error *ngIf="f.Name.hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput type="email" placeholder="john.doe@email.com" />
                        <mat-error *ngIf="f.email.hasError('required')">
                            Required
                        </mat-error>
                        <mat-error *ngIf="f.email.hasError('email')">
                            Invalid Email
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea formControlName="address" matInput placeholder="25, Jordan Street"></textarea>
                        <mat-error *ngIf="f.address.hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>City</mat-label>
                        <input formControlName="city" matInput placeholder="John Doe" />
                        <mat-error *ngIf="f.city.hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>State</mat-label>
                        <input formControlName="state" matInput placeholder="John Doe" />
                        <mat-error *ngIf="f.state.hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input formControlName="phone" type="tel" matInput placeholder="98765 43210" />
                        <mat-error *ngIf="f.phone.hasError('required')">
                            Required
                        </mat-error>
                        <mat-error *ngIf="f.phone.hasError('minlength') || f.phone.hasError('maxlength')">
                            Invalid Phone Number
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Strong Password" />
                        <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="f.password.hasError('required')">
                            Required
                        </mat-error>
                        <mat-error *ngIf="f.password.hasError('minlength')">
                            Password must be atleast 6 Characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt2">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'" placeholder="your password" />
                        <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="f.confirmPassword.hasError('required')">
                            Required
                        </mat-error>
                        <mat-error *ngIf="f.confirmPassword.hasError('mustMatch')">
                            Must match Password
                        </mat-error>
                    </mat-form-field>
                </div>
            </fieldset>
            <div class="mv2">
                <button class="w-100" mat-stroked-button color="primary">Sign Up</button>
            </div>
            <div class="mt3 lh-copy  cf">
                <div class="fl w-50 tc">
                    <button routerLink="/login" mat-button color="secondary">Login</button>
                </div>
                <div class="fl w-50 tc">
                    <button routerLink="/forgot-password" mat-button color="secondary">Forgot Password?</button>
                </div>
            </div>
        </form>
    </main>

    <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
        <small class="f6 db tc">© 2021 <b class="ttu">MechPark</b> All Rights Reserved</small>
        <div class="tc ">
            <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
            <a href="/terms/" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
            <a href="/privacy/" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
        </div>
    </footer>
</div>