// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "colors";


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$Client-primary: mat-palette($primary, Main, Light, Dark);

$Client-accent: mat-palette($accent, Main, Light, Dark);

// The warn palette is optional (defaults to red).
$Client-warn: mat-palette($warn, A200, A400, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Client-theme: mat-light-theme((color: (primary: $Client-primary,
            accent: $Client-accent,
            warn: $Client-warn,
        )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$custom-typography: mat-typography-config($font-family: 'Inter',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500));


@include mat-core($custom-typography);

@include angular-material-theme($Client-theme);